/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd; 
    color: #0d47a1; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column; 
}

h1 {
    color: #1565c0; 
    font-size: 2.5rem;
    margin-bottom: 20px; 
}

p {
    font-size: 1.2rem;
    color: #0d47a1; 
    margin: 0 0 30px; 
}

a {
    text-decoration: none;
    color: #ffffff;
    background-color: #1e88e5; 
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-top: 10px; 
}

a:hover {
    background-color: #1565c0; 
}