body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.logo {
    width: 64px;
    height: auto;
    margin-right: 20px;
}

header {
    background-color: #38B6FF;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
}

.top-right-links {
    display: none;
}

nav {
    background-color: #A4CEFA;
    padding: 3px;
    justify-content: space-between;
    display: flex; 
    align-items: center;
    color: white;
    text-decoration: none;
}

nav p, nav ul {
    height: 25px;
    line-height: 25px; 
}

nav p a, nav ul li a {
    display: inline-block; 
    vertical-align: middle; 
}

nav p a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 40px;
    height: 40px;   
    line-height: 40px; 
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
}

.about_us {
    width: 30px;
    height: 15px;
}

nav img {
    width: 50px;
    height: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

thead {
    background-color: #1e88e5;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

.centrar-titulo {
    text-align: center;
    color: #38B6FF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    font-size: 2em;
}

.content {
    padding: 20px;
}

aside {
    float: right;
    width: 25%;
    padding: 20px;
    background-color: #A4CEFA;
    color: white;
    padding-bottom: 7%;
}

aside a {
    color: white;
    font-style: italic;
}

aside h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    color: #38B6FF;
}

main h2 {
    margin-left: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-color: #0097A7;
    color: white;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
}

.footer-container {
    display: flex;
}

.footer-section {
    flex: 1;
    text-align: left;
    padding-left: 10%;
}

.footer-section p {
    margin: 0;
}

.footer-section a {
    color: white;
}

.image-container {
    position: absolute;
    top: 49%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.image-container img {
    width: 78%;
}

footer {
    background-color: #0097A7;
    color: white;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
}

.footer-container {
    display: flex;
}

.footer-section {
    flex: 1;
    text-align: left;
    padding-left: 10%;
}

.footer-section p {
    margin: 0;
}

.footer-section a {
    color: white;
}

.crear button {
    background-color: #007bff; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.crear button:hover {
    background-color: #0056b3; 
}

.btn-azul {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-azul:hover {
    background-color: #0056b3;
}