<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Sobre nosotros</title>
    <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
    <div class="content">
        <h2>Sobre Almacenes Barreiros Novelle</h2>

        <h3>Nuestra Historia</h3>
        <p>
            Almacenes Barreiros Novelle es una empresa con más de 30 años de experiencia en el sector de la venta de productos para el hogar. 
            Fundada en el corazón de nuestra ciudad, nos dedicamos a ofrecer una amplia variedad de artículos de alta calidad, desde sábanas, colchones, hasta productos para bebés. 
            A lo largo de los años, hemos logrado construir una base de clientes leales gracias a nuestra atención al cliente y a la excelencia en el servicio.
        </p>

        <h3>Nuestra Misión</h3>
        <p>
            En Almacenes Barreiros Novelle, nuestra misión es ofrecer productos de alta calidad para el hogar, con un enfoque especial en el confort y la satisfacción de nuestros clientes. 
            Trabajamos para proporcionar una experiencia de compra agradable y sin complicaciones, con un catálogo cuidadosamente seleccionado para satisfacer las necesidades de cada familia.
        </p>

        <h3>Visión</h3>
        <p>
            Ser la tienda líder en productos para el hogar a nivel nacional, proporcionando siempre los mejores precios y un servicio de atención al cliente excepcional.
            Nos esforzamos por seguir innovando y adaptándonos a las nuevas tendencias del mercado, manteniendo siempre nuestros estándares de calidad y servicio.
        </p>

        <h3>Valores</h3>
        <ul>
            <li><strong>Calidad:</strong> Todos nuestros productos pasan por rigurosos controles de calidad.</li>
            <li><strong>Atención al cliente:</strong> Nos importa tu satisfacción, por eso estamos aquí para ayudarte en todo lo que necesites.</li>
            <li><strong>Confianza:</strong> Nos tomamos muy en serio la confianza que depositas en nosotros al elegirnos como tu tienda de confianza.</li>
            <li><strong>Innovación:</strong> Estamos siempre al tanto de las últimas tendencias para ofrecerte los productos más modernos.</li>
        </ul>

        <h3>Equipo</h3>
        <p>
            Contamos con un equipo altamente calificado que se dedica a ofrecerte la mejor atención, tanto en la tienda como en nuestro servicio online. 
            Desde nuestros vendedores hasta nuestro equipo de soporte técnico, todos compartimos el mismo objetivo: hacer tu experiencia de compra lo más fácil y placentera posible.
        </p>
        <button class="btn-home" onclick="window.location.href='/';">Volver al inicio</button>
    </div>
</body>
</html>