<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda</title>
    <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
    <div class="content">
        <h2>Guía de uso de la página web</h2>

        <h3>¿Cómo navegar por la tienda?</h3>
        <p>
            En la barra de navegación de la parte superior, encontrarás secciones para cada categoría de productos disponibles en nuestra tienda:
        </p>
        <ul>
            <li><strong>Sábanas:</strong> Encuentra una variedad de sábanas de diferentes tamaños, colores y materiales.</li>
            <li><strong>Edredones:</strong> Explora nuestra selección de edredones para diferentes estaciones del año.</li>
            <li><strong>Colchones:</strong> Descubre colchones de alta calidad para un buen descanso.</li>
            <li><strong>Alfombras:</strong> Adorna tu hogar con nuestra colección de alfombras y tapetes.</li>
            <li><strong>Cojines:</strong> Agrega confort a tu hogar con nuestros cojines decorativos.</li>
            <li><strong>Almohadas:</strong> Encuentra almohadas para todos los gustos y necesidades.</li>
            <li><strong>Pijamas:</strong> Ropa cómoda para el descanso nocturno.</li>
            <li><strong>Fundas nórdicas:</strong> Elige fundas nórdicas que se adapten a tu estilo.</li>
        </ul>

        <h3>¿Cómo hacer una compra?</h3>
        <p>
            Para realizar una compra, simplemente sigue estos pasos:
        </p>
        <ul>
            <li>1. Explora las categorías de productos que más te interesen.</li>
            <li>2. Selecciona el producto que desees comprar.</li>
            <li>3. Añade el producto a tu carrito de compras.</li>
            <li>4. Procede al pago seleccionando el carrito y eligiendo un método de pago.</li>
        </ul>

        <h3>¿Cómo crear una cuenta?</h3>
        <p>
            Puedes crear una cuenta en nuestra tienda para gestionar tus compras, historial de pedidos y más. Para crear una cuenta, haz clic en el enlace "Crear cuenta" en la parte superior derecha de la página y sigue las instrucciones.
        </p>

        <h3>Soporte</h3>
        <p>
            Si tienes alguna pregunta o necesitas asistencia adicional, no dudes en contactar con nuestro equipo de soporte a través de nuestro formulario de contacto o llamando a nuestro número de atención al cliente.
        </p>

        <button class="btn-home" onclick="window.location.href='/';">Volver al inicio</button>
    </div>
</body>
</html>