<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad</title>
    <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
    <div class="content">
        <h2>Política de Privacidad</h2>
        
        <h3>Introducción</h3>
        <p>En Almacenes Barreiros Novelle, nos comprometemos a proteger la privacidad de nuestros clientes y usuarios. Esta Política de Privacidad explica cómo recogemos, utilizamos y protegemos tu información personal.</p>
        
        <h3>Recopilación de Información</h3>
        <p>Recopilamos información personal de nuestros usuarios cuando realizan compras, se registran en nuestro sitio, o se comunican con nosotros. La información recopilada incluye nombres, direcciones de correo electrónico, direcciones de envío y detalles de pago.</p>
        
        <h3>Uso de la Información</h3>
        <p>Utilizamos la información recopilada para procesar pedidos, mejorar la experiencia del usuario, responder a consultas, y enviar actualizaciones sobre productos y ofertas. En ningún caso compartimos tu información personal con terceros sin tu consentimiento explícito.</p>
        
        <h3>Protección de Datos</h3>
        <p>Implementamos medidas de seguridad para proteger tu información personal de accesos no autorizados o divulgación. Sin embargo, ninguna transmisión de datos a través de Internet es completamente segura y no podemos garantizar la seguridad absoluta.</p>
        
        <h3>Cookies</h3>
        <p>Utilizamos cookies para mejorar la funcionalidad de nuestro sitio web y ofrecerte una experiencia personalizada. Puedes optar por desactivar las cookies en tu navegador, pero esto puede afectar la funcionalidad de algunas áreas del sitio.</p>
        
        <h3>Acceso y Corrección de tu Información</h3>
        <p>Tienes derecho a acceder, corregir o eliminar la información personal que tenemos sobre ti. Si deseas realizar alguna de estas acciones, por favor contáctanos a través de nuestra página de contacto.</p>
        
        <h3>Enlaces a Terceros</h3>
        <p>Este sitio puede contener enlaces a otros sitios web. No nos hacemos responsables de las prácticas de privacidad de estos sitios. Te recomendamos leer sus políticas de privacidad antes de proporcionar cualquier información personal.</p>
        
        <h3>Cambios a la Política de Privacidad</h3>
        <p>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Los cambios serán publicados en esta página con la fecha de la última actualización.</p>
        
        <h3>Contacto</h3>
        <p>Si tienes alguna pregunta sobre esta Política de Privacidad o deseas ejercer tus derechos sobre tus datos personales, por favor contáctanos en: <strong>barreiros.novelle@gmail.com</strong></p>

        <button class="btn-home" onclick="window.location.href='/';">Volver al inicio</button>
    </div>
</body>
</html>